footer{

.footer__Desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #30343F;
    height: 25vh;

        .footer__Navbar{
            margin-left: 5%;

                ul{
                    li{
                        list-style: none;
                        padding: 4px;
                            a{
                                text-decoration: none;
                                color: #fff;
                            }
                    }
                }
        }

        a{
            margin-right: 5%;
            margin-top: 2%;
                img{
                    min-width: 5vw;
                    max-width: 10vw;
                }
        }
    }

    p{
        background-color: #30343F;
        text-align: center;
        color: #fff;
        font-size: 13px;
        padding: 15px;
        font-style: italic;
    }
}
